{% extends 'base.html' %} {% block body %}

<h2>Pair Programming</h2>
<hr />
<main>
  <img
    class="img-fluid"
    src="{{ url_for('static', filename='images/Image.jpg') }}"
    width="500"
    alt="Carl & Christina"
  />
  <h2>
    This website will display a survey about which sports do you prefer to
    watch! In addition to that, it will also ask you if you watch these sports
    on streaming services, and if you do, which streaming services you prefer to
    use.
  </h2>

  <h3>
    Instructions: Please answer every question to the best of your abillity.
    This form is just a test adn we want to see if it will gather records
    properly. Each question will require an answer in the form of either an
    input text box, radio buttons, and a checkbox list. Click submit when
    finished and the responses will be recorded in the table at the bottom of
    the page.
  </h3>
</main>
{% endblock %}
