<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/stylesheet.css') }}"
    />
    <title>{{ pageTitle }}</title>
  </head>

  <body>
    <div class="container">{% block body %}xx {% endblock %}</div>
  </body>

<button onclick="window.location.href='./about.html';".>
  About Page
</button>

<button onclick="window.location.href='./index.html';".>
  Home Page
</button>

</html>
