{% extends 'base.html' %} {% block body %}
<h2>Digital Product Management - Web Form Template</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <p>
      <label for="first-name">First name:</label>
      <input type="text" id="first-name" name="fname" />
    </p>

    <p>
      <label for="Sport">
        Favorite sport to watch:
        <select name="game" id="Sport" required>
          <option value="" selected>Choose one ...</option>
          <option value="Basketball">Basketball</option>
          <option value="Football">Football</option>
          <option value="Hockey">Hockey</option>
          <option value="Baseball">Baseball</option>
          <option value="Soccer">Soccer</option>
        </select>
      </label>
    </p>
    <p>
      <label>Do you stream sports games?</label>
      <label for="read-yes">
        <input
          type="radio"
          id="read-yes"
          name="read"
          value="yes"
          required="required"
        />
        Yes
      </label>

      <label for="read-no">
        <input
          type="radio"
          id="read-no"
          name="read"
          value="no"
          required="required"
        />
        No
      </label>
    </p>

    <fieldset>
      <legend>Choose your preffered streaming service</legend>
      <label for="for-ESPN">
        <input
          type="checkbox"
          id="for-ESPN"
          name="streaming"
          value="ESPN"
        />
        ESPN
      </label>

      <label for="for-FOX">
        <input
          type="checkbox"
          id="for-FOX"
          name="streaming"
          value="FOX"
        />
        FOX
      </label>

      <label for="for-CBS">
        <input
          type="checkbox"
          id="for-CBS"
          name="streaming"
          value="CBS"
        />
        CBS
      </label>

      <label for="for-NBC">
        <input
          type="checkbox"
          id="for-NBC"
          name="streaming"
          value="NBC"
        />
        NBC
      </label>
    </fieldset>

    <p><input type="submit" id="submit" value="Submit" /></p>
  </form>

  <br /><br />
  {% if friends %}
  <h3>Friend List</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Favorite Sport</th>
        <th>Do You Stream</th>
        <th>Favorite Streaming Service</th>
      </tr>
    </thead>

    <tbody>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.name }}</td>
        <td>{{ friend.sport }}</td>
        <td>{{ friend.stream }}</td>
        <td>{{ friend.streaming }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}
